# Backend
chatapp-backend/target/

chatapp-backend/src/main/resources/application.properties

# Frontend (sau này)
chatapp-frontend/node_modules/
chatapp-frontend/dist/

# IntelliJ
.idea
*.iml

# Logs
*.log

# Env
.env